@page
@model IndexModel
@{
    ViewData["Title"] = "Products";
}

<div>
    @if (Model.ProductModel.ProductItems.Any())
    {
        @foreach (var productItem in Model.ProductModel.ProductItems)
        {
            <div>
                <h3>@productItem.Name</h3>
                @productItem.Description
                <h4>@productItem.Price.ToString("c")</h4>
            </div>
        }
    }
</div>
